.big-center-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  max-height: 18vh;
}

h1 {
  text-align: center;
}

p {
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: center;
}
