@import "../theme.scss";

.big-center-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  max-height: 18vh;
}

h1 {
  color: #f61c4b;
  text-align: center;
}

p {
  color: $light-text;
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: center;
}

